# metadrive ignore
metadrive/*
!metadrive/metadrive
metadrive/metadrive/*
!metadrive/metadrive/envs
# metadrive/metadrive/envs/*
# !metadrive/metadrive/envs/base_env.py
# !metadrive/metadrive/envs/metadrive_env.py
# !metadrive/metadrive/envs/safe_metadrive_env.py

# CPO
CPO/*
!CPO/torch
CPO/torch/wandb

